/* Admin page    */
.nsaa_white{
	outline: #ccc 2px solid;
	background-color: #FFF !important;
	padding:20px;
	width:60%;
}

span.inote{
display: block;
color:#090;
font-style: italic;
}
.txt-fields{
width:50%;

}

.ns_donate_box_side{
	position: fixed;
	top:40%;
	right: 10px;
	outline: 1px dotted #E9FFD9;
	padding: 10px;
}

.ns_donate_box_side_2{
	position: fixed;
	top:5%;
	right: 10px;
	outline: 1px dotted #E9FFD9;
	padding: 10px;
}


.nsaa_white h1{
	color:#006;
}

.nsaa_white h1 img{
width:32px;
height: 32px;
padding-right:0px;

}

.nsaa_white input[type='text']{
color:#ccc;

}
.nsaa_white p label {
	font-size: 14px;
	color:000;
	font-weight: bolder;
}

.nsaa_white p {
	margin-top:25px;
}
.nsaa_white label {
	display: block;
}
p.success{
	color:#fff;
	padding:10px 10px 10px 10px;
    border:1px solid #040;
    width: 80%;
   /* background: #FFF; */
    background-color: #5BB31B;
    font-size: inherit;
}

.adminsuccess{
	color:#fff;
	padding:10px 10px 10px 10px;
    border:1px solid #040;
    width: 80%;
   /* background: #FFF; */
    background-color: #5BB31B;
    font-size: 1.2em;
}
/*
p.success span{
	background-image: url(img/good.png);
}
*/

/* The table of xed */

table.xed{
border:1px solid #080;
width: 100%;
font-size:0.8em;
}

table.xed tr{
	border:1px solid #080;

}


table.xed th{
	font-weight: bolder;
	font-size: 1.6em;
}
table.xed thead{
	height: 40px;
	padding: 10px;
	background: #f8f8f8;
}


table.xed tbody{
	height: 30px;
	padding: 10px;
}


table.xed tr:nth-child(even){
background-color:#F9F9F9;
color:#000000;

}

.success {
	color:#080;
	font-size: 1.2em;
	width:100%;
	border-radius: 10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    background-color:#E9FFD9;
    border:1px solid #a6ca8a;
}

.error {
	color:#000;
	font-size: 1.2em;
	width:80%;
	border-radius: 10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    background-color:#FFECEC;
    border:1px solid #E16765;
}


/* On the boxes below */

.nsaa_clear_all {
margin-top:3px;
width:60%;
background-color: #fff;
color: #000;
outline: #ccc 2px solid;
padding:20px;
}

.nsaa_clear_all h1{
	color:#006;
}

.nsaa_clear_all h1 img{
width:32px;
height: 32px;

}


.nsaa_clear_all h3 {
color:#EE5611;
font-weight: bolder;

}
.nsaa_clear_all h3 p {
margin-top:-15;
margin-bottom: -10;
padding: 0;

}
.nsaa_clear_btn{   
padding: 7px 10px 10px 10px;
border-radius: 6px;
background-color: #006;
box-shadow: 2px 2px 4px #001;
height: 40px;
color:#fff;
font-weight: bold;
}


.clear_all_c, .clear_by_http, .clear_all_akis{
outline:#006 1px solid;
margin-left: 20px;
padding-bottom:15px;
padding-left:15px;
padding-top:5px;

}

.donate {
	position: absolute;
	right:30px;
	width:130px;
	top:150px;
	outline:#f48611 solid 2px;
	padding:5px;
	border-radius:4px;


}

.nsaa_donate_btn_p {
padding: 2px 10px 10px 10px;
border-radius: 6px;
background-color: #f48611;
box-shadow: 2px 2px 4px #f48611;
height: 50px;
color:#fff;
font-weight: bold;
margin-bottom: 15px;

}

img #pend-load {
margin-left:30%;

}



.btn-log{
float:right;
width:40%;
padding: 7px 10px 10px 10px;
border-radius: 6px;
background-color: #006;
box-shadow: 2px 2px 4px #001;
height: 40px;
color:#fff;
font-weight: bold;
margin-bottom:15px;
}

.cls{
	clear: both;
}

.boxes_of_no_spam_at_all{
	background: #fff;
}
.table_level_list_of_comments{
	margin-top: 25px;
	background: #fff;
/*	width: 100%;
*/	padding: 10px;
}
.flex-row{
	 display: flex;
	 flex-direction: row;
	 justify-content:space-around;

}

@media(max-width: 768px){
	.flex-row{
		flex-wrap: wrap;
	}
}
.flex-row div{
	height: 200px;
	outline: 1px solid #f8f8f8;
	padding: 15px;
}

.btn{
	padding:15px 10px 15px 10px;
	text-align: center;
	border-radius: 7px;
}

.btn-success{
	background: #33af02;
	color:#fff;
}

.btn-danger{
	background: #ff4e00;
	color:#fff;
}